*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --orange-apar: #fc5a34;
    --navyblue-apar: #2a2c3c;
    --black-apar: #252629;
    --gray-apar: #aaaaaa;
}

body{
    font-family: "Open Sans";
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.top-header{
    background-color: #eeeeee;
    color: var(--gray-apar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.adjust_center--header{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ubi_and_time--header{
    display: flex;
    gap: 40px;
}

.info--header{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}

.small_icon--img{
    width: 20px;
    margin-right: 3px;
}

.mid-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.logo--header{
    width: 250px;
}

.mid_icon--img{
    width: 30px;
}

.nav-header{
    background-color: var(--navyblue-apar);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 50px;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
    height: 100%;
}

li:hover{
    cursor: pointer;
    height: 100%;
}

.button-nav{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    height: 100%;
}

.button-nav:hover{
    background-color: var(--orange-apar);
}