/* Estilos generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --orange-apar: #fc5a34;
    --navyblue-apar: #2a2c3c;
    --black-apar: #252629;
    --gray-apar: #aaaaaa;
    --open-sans-font: 'Open Sans', sans-serif;
    --oswald-font: 'Oswald', sans-serif;
}

body{
    font-family: var(--open-sans-font);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--oswald-font);
    font-weight: 500;
}

/* Estilos componentes página */

.buttonOrange{}
.buttonBorder{}

.smallIcon--img{
    width: 20px;
    margin-right: 3px;
}

.midIcon--img{
    width: 30px;
}

.hiddenTitle{
    display: none;
}

.orange--span{
    color: var(--orange-apar);
}

/* Header */
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topHeader{
    background-color: #eeeeee;
    color: var(--gray-apar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.adjustCenter--header{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ubiAndTime--header{
    display: flex;
    gap: 40px;
}

.info--header{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}

.midHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.logo--header{
    width: 250px;
}


.navHeader{
    background-color: var(--navyblue-apar);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 50px;
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
    height: 100%;
}

li:hover{
    cursor: pointer;
}

.li-nav{
    display: flex;
    align-items: center;
    justify-content: center;

}

.link-nav{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 30px;
    font-family: var(--oswald-font);
    font-size: .9em;
    height: 100%;
}

.link-nav-selected{
    background-color: var(--orange-apar);
}

.link-nav:hover{
    background-color: var(--orange-apar);
}

/* Fin Header */
/* Intro */

.intro{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.intro-container{
    width: 1100px;
    display: grid;
    grid-template-rows: 5fr 1fr 3fr;
}

.intro-shopNow{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

.shopNow img{
    width: 100%;
}

.form-myVehicles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--orange-apar);
    padding: 30px 15px;
}

.intro-info{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--gray-apar);
}

/* Fin Intro */
/* Sección de Marcas */

.brands-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
}

.brands-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 1100px;
}

.brands-container img{
    width: 140px;
}

/* Fin Sección de Marcas */
/* Sección Tienda */

.shop-section{
    display: flex;
    justify-content: center;
}

.shop-container{
    display: flex;
    flex-direction: column;
    width: 1100px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
}

/* Clases Articulos */

.article{
    height: fit-content;
}

.article-img{
    width: 100%;
}

.product-tag{
    position: absolute;
    background-color: var(--orange-apar);
    color: white;
    padding: 5px 10px;
    margin: 10px 0 0 10px;
}

.article-img--container{
    position: relative;
}

.product-title{
    margin: 10px 0 5px 0;
    font-weight: 300;
}
.product-puntuation{
    font-size: 0.8em;
}
.product-price{
    margin: 10px 0;
}
.old-price{
    text-decoration: line-through;
    color: var(--gray-apar);
    margin-right: 10px;
}
.new-price{
    font-weight: bold;
}

/* Fin Clases Articulos */
/* Fin Sección Tienda */
/* Footer */

.footer{
    background-color: var(--navyblue-apar);
    color: white;
    display: flex;
    justify-content: center;
}
.footerAdjust{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1100px;
}
.footerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 100px 0;
}

.footerLinks-ul{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
}

.titleFooter{
    color: var(--gray-apar);
}

.link--footer{
    color: var(--gray-apar);
    text-decoration: none;
    font-size: 0.9em;
}

.footerLinks-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;
}

.contactInfo{
    display:flex;
    flex-direction: row;
}

.contactInfo img{
    height: 100%;
}

.socialNetwork--footer{
    margin-left: 20px;
    display: flex;
    gap: 10px;
}

.footerBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #4d5068;
    padding: 30px 0 ;
}

.imgMetodoPago{
    height: 24px;
}

.socialNetwork--img{
    filter: invert(58%) sepia(71%) saturate(0%); 
}