*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --orange-apar: #fc5a34;
    --navyblue-apar: #2a2c3c;
    --black-apar: #252629;
    --gray-apar: #aaaaaa;
    --open-sans-font: 'Open Sans', sans-serif;
    --oswald-font: 'Oswald', sans-serif;
}

body{
    font-family: var(--open-sans-font);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--oswald-font);
    font-weight: 500;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-header{
    background-color: #eeeeee;
    color: var(--gray-apar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.adjust_center--header{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ubi_and_time--header{
    display: flex;
    gap: 40px;
}

.info--header{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}

.small_icon--img{
    width: 20px;
    margin-right: 3px;
}

.mid-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.logo--header{
    width: 250px;
}

.mid_icon--img{
    width: 30px;
}

.nav-header{
    background-color: var(--navyblue-apar);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 50px;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
    height: 100%;
}

li:hover{
    cursor: pointer;
}

.li-nav{
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-nav{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 30px;
    font-family: var(--oswald-font);
    font-size: .9em;
    height: 100%;
}

.button-nav-selected{
    background-color: var(--orange-apar);
}

.button-nav:hover{
    background-color: var(--orange-apar);
}



.brands-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
}

.brands-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 1100px;
}

.hidden-titles{
    display: none;
}

.brands-container img{
    width: 140px;
}

.shop-section{
    display: flex;
    justify-content: center;
}

.shop-container{
    display: flex;
    flex-direction: column;
    width: 1100px;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.article{
    height: fit-content;
    width: 250px;
}

.article-img{
    width: 100%;
}

.product-tag{
    position: absolute;
    background-color: var(--orange-apar);
    color: white;
    padding: 5px 10px;
    margin: 10px 0 0 10px;
}

.article-img--container{
    position: relative;
}

.product-title{
    margin: 10px 0 5px 0;
    font-weight: 300;
}
.product-puntuation{
    font-size: 0.8em;
}
.product-price{
    margin: 10px 0;
}
.old-price{
    text-decoration: line-through;
    color: var(--gray-apar);
    margin-right: 10px;
}
.new-price{
    font-weight: bold;
}